<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <section class="container d-flex flex-column justify-content-center mt-5 gap-3">
        <div class="row-12 text-center d-flex mt-6">
            <h1 class="col text-primary">Register</h1>
        </div>
        <div class="row-12  d-flex justify-content-center">
            <form method="post" action="{% url 'api:auth:register' %}" class="col-4 form-control w-50 p-4 d-flex flex-column align-items-center gap-2">
                {% csrf_token %}
                <label for="email" class="text-start me-auto">Email</label>
                <input type="email" name="email" id="email" class="form-control row">
                
                <label for="name" class="text-start me-auto" >Password</label>
                <input name='password' id="name" type="password" class="form-control row">

                <button type="submit" class="btn btn-primary row-12 w-100">Register</button>
                <div class="row">
                    <div class="col text-center d-flex justify-content-center flex-column align-items-center">
                        <a class="link text-primary row fs-6 text-center" href="{% url 'auth_login' %}">Login</a>
                        <a class="link row text-secondary fs-6 text-center" href="{% url 'register_view' %}">Forgot password</a>
                    </div>
                </div>
            </form>

        </div>

    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>